*
!api.py
!requirements.txt
!majestic_million.csv

!features/
!features/URL_stats.py
!features/dynamic_stats.py
!features/top500Domains.csv
!features/__init__.py

!models/
!models/static_model.json
!models/dynamic_model.json
!models/meta_model_1.json
!models/meta_model_lr.pkl

!data_collection/
!data_collection/spam.txt

!tests/
!tests/**